{% extends 'base.html' %}
{% block title %}Welcome to Latest News{% endblock %}

{% block headmessage %}
	<h2>Welcome to Latest News</h2>
{% endblock %}

{% block content %}
<div class="card" style="width: 60rem;">
	<div class="card-header">一般事務</div>

	<ul class="list-group list-group-flush">
	{% for post in posts %}
	<li class="list-group-item">
		<a href="/post/{{ post.slug }}">{{ post.title }}</a>
		<p>{{ post.body | truncatechars:60 }}</p>
		<p>發布時間: {{ post.pub_date | date:"Y-m-d, h:m:s" }}</p>
	</li>
	{% endfor %}
	</ul>
</div>
{% endblock %}