{% extends 'base.html' %}
{% load markdown_deux_tags %}

{% block title %}一般事務: {{ post.title }}{% endblock %}

{% block headmessage %}
	<h2>一般事務</h2>
{% endblock %}

{% block content %}
<div class="card" style="width: 60rem;">
	<div class="card-header">
		<h2>Title: {{ post.title }}</h2>
	</div>
	
	<ul class="list-group list-group-flush">
		<li class="list-group-item">
			<h3>Content:<br><br>{{ post.body | markdown}}</h3>
			<br>
			<p><a href="/news_01">back to HOME</a></p>
		</li>
	</ul>	
</div>
{% endblock %}